.container {
    display: flex;
    flex-direction: row;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 50%;
}

.title {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 600;
}

.input_wrapper {
    margin: 5px 0;
}

.input {
    margin-left: 5px;
}

.submit_button {
    margin-top: 6px;
    width: 100px;
}

.expirables_list_container {
    margin-top: 20px;
    margin-left: 50px;
    width: 30%;
    text-align: left;
}

.expirables_list {
    list-style-type: square;
    margin-left: -40px;
}
