.page {
    display: flex;
    flex-direction: row;
}

.container {
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.title {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.input_wrapper {
    display: flex;
    justify-content: left;
    margin: 5px 0;
}

.input {
    margin-left: 5px;
}

.submit_button {
    margin-top: 10px;
    width: 100px;
}

.expirables_list_container {
    margin-top: 20px;
    text-align: left;
    height: 40%;
    overflow-x: hidden;
}

.categoryName {
    font-size: 18px;
    font-weight: 500;
}

.expirables_list {
    list-style-type: none;
    margin: 0 0 15px -40px;
}

.expirables_list_item {
    margin: 4px 0;
}
