.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 50%;
}

.title {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 600;
}

.input_wrapper {
    margin: 5px 0;
}

.input {
    margin-left: 5px;
}

.submit_button {
    margin-top: 6px;
    width: 100px;
}

.expirables_list_container {
    margin-top: 20px;
    margin-left: 50px;
    width: 30%;
    text-align: left;
}

.categoryName {
    font-size: 18px;
    font-weight: 500;
}

.expirables_list {
    list-style-type: none;
    margin: 0 0 15px -40px;
}

.expirables_list_item {
    margin: 4px 0;
}
