.container {
    width: 70%;
    margin: 10px 20px 0 10px;
}

.month_name {
    font-size: 24px;
    font-weight: 500;
    margin-left: -2px;
    margin-right: -2px;
    padding: 10px 0;
    border: 1px solid;
    border-bottom: 0;
    background-color: black;
    color: white;
}

.weekdays {
    display: flex;
    justify-content: space-between;
    margin-left: -2px;
    margin-right: -2px;
    padding-bottom: 5px;
    border: 1px solid;
    border-top: 0;
    background-color: black;
    color: white;
}

.weekday {
    flex: 1;
}

.week {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
}

.day {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100px;
    margin-top: -1px;
    margin-right: -1px;
    border: 1px solid;
    font-size: 12px;
}

.day_number {
    display: flex;
    flex-direction: row-reverse;
    padding: 5px 10px;
}

.day_list {
    display: flex;
    flex-direction: column;
}

.expired {
    color: brown;
}
